.box {
    display: flex;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
 }

 .container {
     background-color: rgb(202, 196, 196);
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
 }

 